#list-example {
  width: 15%;
  position: fixed;
}

html {
  scroll-behavior: smooth;
}

hr {
  border-color: rgb(197, 196, 196);
  width: 90%;
  border-width: .08rem;
}

.jumbotron {
  background-image: url(./images/blur-codes-coding-577585.png);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  color: white;
  border-radius: 0;
}

.mb-4, .my-4 {
  margin-bottom: 3.5rem!important;
}

.title-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-hr {
  /* border-color: lightgray; */
  width: 10%;
  margin: 0 auto;
  margin-top: 0;
  margin-bottom: 50px;
  border-width: .1rem;

}

.projects {
  padding: 0 5.1%;
  max-width: 1680px;
  margin: 0 auto;
}

.project-headers {
  display: flex;
  justify-content: center;
}

.projects-and-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.projects-and-info a {
  display: flex;
  justify-content: start;
  width: 40%;
}

.projects-and-info .bounce {
  margin-top: 2px;
  transition: margin 0.5s ease-out;
}

.projects-and-info .bounce:hover {
  margin-top: 5px;  
  filter:brightness(75%);
  transition:.2s;

}

.screenshot {
  width: 100%;
  height: auto;
  box-shadow: -12px 18px 20px -4px #888888;
}

.rolodex-title {
  display: flex;
  justify-content: center;
}

.projects-and-info .btn {
  width: 30%;
  display: inline;
}

.fa-lg {
  line-height: normal;
  font-size: 1.3rem;
}

.tech-used {
  margin-bottom: 20px;
}

.app-description {
  width: 53%;
  background: gainsboro;
    padding: 1%;
    border-radius: 1%;
}

.table-dark {
  background-color: #0a0c0ee8;
}

.table {
  margin-bottom: 0;
}

/**************** Footer ******************/

footer {
  background-color: #0a0c0ee8;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px 7%;
  margin-top: 40px;
}

.footer-links {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.footer-links i {
  font-size: 1.5rem;
  color: white;
}

footer a {
  font-size: 1.5rem;
  color: white;
}

/**************** Media Queries ******************/

@media (max-width: 1281px) {
  .projects {
    padding: 0 0;
  }

  .footer-links i {
    font-size: 1.1rem;
  }
  
  footer a {
    font-size: 1.1rem;
  }
  
}

@media (max-width: 1000px) {

  .project-hr {
    /* border-color: lightgray; */
    width: 40%;
    margin: 0 auto;
    margin-top: 0;
    margin-bottom: 20px;
    border-width: .1rem;
  
  }

  .projects-and-info {
    display: flex;
    flex-direction: column;
  }

  .app-description {
    width: 100%;
    padding-top: 20px;
  }

  .projects-and-info a {
    width: 100%;
    margin-bottom: 20px;
  }

  .projects {
    padding: 0 40px;
  }

  .screenshot {
    margin-bottom: 35px;
    box-shadow: -3px 13px 20px -4px #888888;
  }

  footer {
    margin-top: 20px;
  }
  
  .footer-links i {
    font-size: 1rem;
  }
  
  footer a {
    font-size: 1rem;
  }

}

@media (max-width: 800px) { 
  .projects {
   padding: 20px;
  }

  footer {
    padding: 20px 5px;
  }

  .footer-links {
    width: 68%;
  }

  .projects-and-info .btn {
    width: 73%;
    display: inline;
  }

  .app-description h4 {
    text-align: center;
  }
  
}